## http server
APP_ENV=DEV
APP_NAME=studio-api
LOG_LEVEL=info
PORT=8087
SERVICE_API_SIGNATURE=studio-api-signature


## db connection
DB_HOST=127.0.0.1
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=studio


## cache connection
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_PORT=6381
REDIS_IS_CLUSTER=false
REDIS_TLS=false