## http server
APP_ENV=DEV
APP_NAME=studio-api
LOG_LEVEL=info
PORT=8084
SERVICE_API_SIGNATURE=rgs-local-signature


## db connection
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=studio

DB_SLAVE_HOST=127.0.0.1
DB_SLAVE_PORT=5433
DB_SLAVE_USER=postgres
DB_SLAVE_PASSWORD=secret

## cache connection
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_PORT=6382
REDIS_IS_CLUSTER=false
REDIS_TLS=false

# Job(BullMQ)
JOB_LOCKER_HOST=127.0.0.1
JOB_LOCKER_PASSWORD=
JOB_LOCKER_USERNAME=
JOB_LOCKER_PORT=6382
JOB_LOCKER_TLS=1


## ws connection
WS_PORT=8081
WS_TOKEN=0000

# los urls
LOS_SERVICE_URL=https://los.iki-cit.cc

# access manager
AM_SERVICE_URL=https://access-manager.iki-cit.cc/v1/admin/login
AM_STUDIO_USER=studioApi@ikigai.team
AM_STUDIO_PASSWORD=Password1!

# slack
SLACK_TOKEN=xoxb-6699601735748-9422622102817-IWEAjFq69KFXk1l7wKaDucFq
SLACK_CHANNEL_ID=C09570B1L04