## http server
APP_ENV=DEV
APP_NAME=studio-api
LOG_LEVEL=info
PORT=8084
SERVICE_API_SIGNATURE=rgs-local-signature


## db connection
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=studio

DB_SLAVE_HOST=127.0.0.1
DB_SLAVE_PORT=5433
DB_SLAVE_USER=postgres
DB_SLAVE_PASSWORD=secret

## cache connection
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_PORT=6382
REDIS_IS_CLUSTER=false
REDIS_TLS=false

# Kafka
KAFKA_LOG_LEVEL=DEBUG

## ws connection
WS_TOKEN=0000
WS_ACK_INTERVAL_MS=5000

# table api
TABLE_API_SERVICE_URL=https://crystal-table.iki-cit.cc
TABLE_API_MAX_RETRY=3

# Global Queue
GLOBAL_QUEUE_USER=
GLOBAL_QUEUE_PASSWORD=
GLOBAL_QUEUE_PROTOCOL=
GLOBAL_QUEUE_HOST_NAMES=
APP_CLOUD_DR_CORE_REGION=
APP_CLOUD_CORE_REGION=

# slack
SLACK_STUDIO_TOKEN=xoxb-6699601735748-9422622102817-IWEAjFq69KFXk1l7wKaDucFq
SLACK_STUDIO_CHANNEL_ID=C09570B1L04